.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  min-height: 50vh;
}
.title {
  padding: 1.5rem;
  font-size: 3rem;
}

//mobile
@media (max-width: 1200px) {
  .main {
    display: flex;
    align-items: center;
    width: 100vh;
    min-height: 70vh;
    max-width: 90%;
  }
  .title {
    padding: 0.5rem;
    font-size: 3rem;
  }
}
