.icon {
  width: 10%;
  height: 10%;
  @media (max-width: 700px) {
    width: 25%;
    height: 25%;
  }
}
.title {
  text-align: center;
  margin: 2.5rem 0;
  font-size: 2rem;
}
.timeline {
  max-width: 400px;
}
