.description {
  z-index: 2;
  width: 100%;

  a {
    gap: 0.5rem;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    position: relative;
    display: inline;
    margin: 0;
    padding: 1.5rem 3rem;
    font-size: 1rem;
  }
  div {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }
}
.none {
  display: none;
}

/* Mobile */
@media (max-width: 700px) {
  .description {
    font-size: 0.8rem;
    ul {
      justify-content: left;
    }
    li {
      display: none;
    }
    div {
      display: block;
    }
  }
}
